
  <a class="gallery__item photo-card" href="{{largeImageURL}}">
    <img class="gallery__image" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width="350" height="230"/>
    <div class="info">
      <p class="info-item">
        <b><span>Likes:</span> {{likes}}</b>
      </p>
      <p class="info-item">
        <b><span>Views:</span> {{views}}</b>
      </p>
      <p class="info-item">
      <b><span>Comments:</span> {{comments}}</b>
      </p>
      <p class="info-item">
        <b><span>Downloads:</span> {{downloads}}</b>
      </p>
    </div>
  </a>
